body {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #2F2F2F;
    font-family: "Poppins", sans-serif;
}

.box {
    padding-top: 169px;
    padding-left: 132px;
    width: 449px;
}

h1 {
    font-size: 72px;
    margin: 0;
}

.one {
    color: #FEC3C7;
}

.two {
    color: #9AD7F3;
}

.three {
    color: #6BDFDA;
}

.text-1 {
    font-size: 24px;
    color: #FFFFFF;
    max-width: 300px;
}

.button {
    width: 182px;
    height: 66px;
    border-radius: 36px;
    color: #232323;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.galery {
    padding: 67px 64px 67px 53px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 9px 18px;
    min-width: 800px;
}

.img {
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
}

.img:hover {
    box-shadow: 0px 5px 5px #00000033;
}

@media (max-width:1280px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 70px;
    }

    .box {
        margin: 0;
        padding: 0;
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-2 {
        max-width: 900px;
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-1 {
        display: block;
        font-size: 24px;
        max-width: 1000px;
        text-align: center;
    }

    .button {
        display: block;
        align-items: center;
    }

    .galery {
        grid-template-columns: repeat(4, 4fr);
        min-width: 400px;
    }
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .box {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
    }

    h1 {
        font-size: 50px;
        margin: 0;
    }

    .text-1 {
        font-size: 24px;
        align-items: center;

    }

    .galery {

        max-width: 100%;
        min-width: 200px;
        padding: 0;
        margin: 40px;
    }

    .button {
        margin: 20px 60px;
        align-items: center;
    }

}

@media (max-width: 640px) {
    .box {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .box-2 {
        max-width: 100%;
        gap: 5px;

    }

    h1 {
        font-size: 40px;

    }

    .text-1 {
        display: inline-block;
        font-size: 22px;
        max-width: 100%;
    }

    .galery {
        grid-template-columns: repeat(3, 5fr);
        margin: 30px;
        max-width: 100%;
    }

}

@media (max-width: 460px) {

    h1 {
        font-size: 30px;

    }

    .text-1 {
        font-size: 20px;
        max-width: 100%;

    }

    .galery {
        display: flex;
        flex-direction: column;
        max-width: 380px;
    }

    .img {
        border-radius: 40px;
        min-width: 300px;
        max-width: 380px;
        cursor: pointer;
    }

    .button {
        width: 280px;
        height: 60px;
        margin: 10px 30px;
        border-radius: 36px;
        color: #232323;
        border: none;
        font-size: 24px;
        cursor: auto;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 22px;

    }

    .text-1 {
        font-size: 14px;
        max-width: 100%;

    }

    .galery {
        max-width: 310px;
    }

    .img {
        border-radius: 40px;
        width: 280px;
        min-width: 172px;
    }
}